<ion-header>
  <ion-navbar>
    <ion-title> The Incredible User Repository Lister </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Search for a user</h1>
  <ion-item> <p></p> </ion-item>
  <ion-card>
    <ion-card-header>
      <p>We'll give you it's repositories</p>
      <p>(And it's little dirty secrets!)</p>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="submitForm()" [formGroup]="form">
        <ion-item>
          <ion-label
            color="{{
              fieldHasInvalidClass('username') ? 'danger' : 'primary'
            }}"
            >Username</ion-label
          >
          <ion-input
            type="text"
            formControlName="username"
            [class]="{
              valid: fieldHasValidClass('username'),
              invalid: fieldHasInvalidClass('username')
            }"
          ></ion-input>
          <div class="danger" *ngIf="fieldHasInvalidClass('username')">
            <p *ngIf="form.get('username').hasError('required')">
              This field is required
            </p>
            <p *ngIf="form.get('username').hasError('userExists')">
              The user could not be found
            </p>
          </div>
        </ion-item>
        <button ion-button type="submit" block [disabled]="form.invalid">
          <span *ngIf="!loading">Submit</span>
          <ion-spinner *ngIf="loading"></ion-spinner>
        </button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header> Repository list </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading"></ion-spinner>
      <ion-list *ngIf="!loading">
        <ion-item *ngFor="let repository of repositories">
          <ion-item>
            <ion-avatar item-left>
              <img
                src="{{ repository.owner.avatar_url }}"
                *ngIf="repository.owner.avatar_url"
              />
              <img
                src="assets/imgs/github.png"
                *ngIf="!repository.owner.avatar_url"
              />
            </ion-avatar>
            <h2>{{ repository.full_name }}</h2>
            <p>{{ repository.description }}</p>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
